{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<p><label class="long">{% trans %}TOTALINCOMES{% endtrans %}:</label>{{main_info.totalincomes|localizedcurrency('CURRENCY'|trans)}}</p>
<p><label class="long">{% trans %}TOTALSAVINGS{% endtrans %}:</label>{{main_info.totalsavings|localizedcurrency('CURRENCY'|trans)}}</p>
<p><label class="long">{% trans %}LIMITSBUDGET{% endtrans %}:</label>{{(main_info.totalincomes-main_info.totalsavings)|localizedcurrency('CURRENCY'|trans)}}</p>
<p><label class="long">{% trans %}TOTALLIMITS{% endtrans %}:</label>{{main_info.totallimits|localizedcurrency('CURRENCY'|trans)}}</p>
<p><label class="long">{% trans %}TOTALEXPENSES{% endtrans %}:</label>{{main_info.totalexpenses|localizedcurrency('CURRENCY'|trans)}}</p>
{% if main_info.debet > 0 %}<p style="color:#f00;"><label class="long">{% trans %}LIMITSTOOHIGH{% endtrans %}:</label>{{main_info.debet|localizedcurrency('CURRENCY'|trans)}}</p>{% endif %}
{% if main_info.limitsLeft > 0 %}<p><label class="long">{% trans %}LIMITSLEFT{% endtrans %}:</label>{{main_info.limitsLeft|localizedcurrency('CURRENCY'|trans)}}</p>{% endif %}
<p><label class="long">{% trans %}LIMITSOVER{% endtrans %}:</label>{{main_info.moneyleftinlimits|localizedcurrency('CURRENCY'|trans)}}</p>
<p><label class="long">{% trans %}REALMONEY{% endtrans %}:</label><b>{{(main_info.saldo - main_info.debet - main_info.moneyleftinlimits)|localizedcurrency('CURRENCY'|trans)}}</b></p>
{% endblock %}
