{% extends 'base.html.twig' %}

{% block title %} - {% trans %}ICAT{% endtrans %}{% endblock %}

{% block body %}
<hr />
{% trans %}ICAT{% endtrans %}
<hr />
{% trans %}EDITICAT{% endtrans %}:<br /><br />
{{ form_start(form, {'method': 'POST'}) }}
    {{ form_errors(form) }}

    {{ form_row(form.categoryName, {'label': 'ICATNAME', 'label_attr': {'class': 'long'}}) }}

    {{ form_row(form.update, {'label': 'UPDATE'}) }}
{{ form_end(form) }}
{% endblock %}
