{% extends 'base.html.twig' %}

{% block title %} - {% trans %}ICAT{% endtrans %}{% endblock %}

{% block body %}
<hr />
{% trans %}ICAT{% endtrans %}
<hr />
{% trans %}ADDICAT{% endtrans %}:<br /><br />
{{ form_start(form, {'method': 'POST'}) }}
    {{ form_errors(form) }}

    {{ form_row(form.categoryName, {'label': 'ICATNAME', 'label_attr': {'class': 'long'}}) }}

    {{ form_row(form.save, {'label': 'SAVE'}) }}
{{ form_end(form) }}
<hr />
<p class="title">{% trans %}ADDEDCATS{% endtrans %}:</p>
{% for category in categories %}
    <div class='buttons'>
        <input type='button' class='go b-{{ random(['red', 'blue', 'green', 'purple']) }} rounded' link='{{path('income_category_edit', {'id':category.id})}}' value='{{ category.categoryName}}' />
        &nbsp;<a href='{{path('income_category_edit', {'id':category.id})}}'><img src='{{ asset('images/edit.png') }}' title="{% trans %}EDIT{% endtrans %}"/></a>
    </div>
{% endfor %}
{% endblock %}
