{% extends 'base.html.twig' %}

{% block title %} - {% trans %}SAVINGS{% endtrans %}{% endblock %}

{% block body %}
<hr />
{% trans %}SAVINGS{% endtrans %}
<hr />
{% trans %}EDITSAV{% endtrans %}:<br /><br />
{{ form_start(form, {'method': 'POST'}) }}
    {{ form_errors(form) }}

    {{ form_row(form.savingAmount, {'label': 'AMOUNT'}) }}
    {{ form_row(form.savingStamp, {'label': 'STAMP'}) }}
    {{ form_row(form.savingNote, {'label': 'NOTE'}) }}

    {{ form_row(form.update, {'label': 'UPDATE'}) }}
{{ form_end(form) }}
{% endblock %}
