{% extends 'base.html.twig' %}

{% block title %} - {% trans %}SAVINGS{% endtrans %}{% endblock %}

{% block body %}
<hr />
{% trans %}SAVINGS{% endtrans %}
<hr />
{% trans %}ADDSAVING{% endtrans %}:<br /><br />
{{ form_start(form, {'method': 'POST'}) }}
    {{ form_errors(form) }}

    {{ form_row(form.savingAmount, {'label': 'AMOUNT'}) }}
    {{ form_row(form.savingStamp, {'label': 'STAMP'}) }}
    {{ form_row(form.savingNote, {'label': 'NOTE'}) }}

    {{ form_row(form.save, {'label': 'SAVE'}) }}
{{ form_end(form) }}
<hr />
<ul>
{% for saving in savings %}
    <li>{{saving.savingStamp|date("d.m.Y")}}: <a href='{{path('saving_edit', {'id':saving.id})}}'>{{saving.savingAmount}}&nbsp;zł</a>{{ saving.savingNote != '' ? " (#{saving.savingNote})" : '' }}</li>
{% endfor %}
</ul>
{% endblock %}
