{% extends 'base.html.twig' %}

{% block title %} - {% trans %}INCOMES{% endtrans %}{% endblock %}

{% block body %}
<hr />
{% trans %}EDITINCOME{% endtrans %}<hr />
{{ form_start(form, {'method': 'POST'}) }}
    {{ form_errors(form) }}

    {{ form_row(form.incomeCategory, {'label': 'CATEGORY'}) }}
    {{ form_row(form.incomeAmount, {'label': 'AMOUNT'}) }}
    {{ form_row(form.incomeStamp, {'label': 'STAMP'}) }}
    {{ form_row(form.incomeNotes, {'label': 'NOTE'}) }}

    {{ form_row(form.update, {'label': 'UPDATE'}) }}
{{ form_end(form) }}
<hr />
{% endblock %}
