{% extends 'base.html.twig' %}

{% block title %} - {% trans %}INCOMES{% endtrans %}{% endblock %}

{% block body %}
<hr />
{% trans %}NEWINCOME{% endtrans %}<hr />
{{ form_start(form, {'method': 'POST'}) }}
    {{ form_errors(form) }}

    {{ form_row(form.incomeCategory, {'label': 'CATEGORY'}) }}
    {{ form_row(form.incomeAmount, {'label': 'AMOUNT'}) }}
    {{ form_row(form.incomeStamp, {'label': 'STAMP'}) }}
    {{ form_row(form.incomeNotes, {'label': 'NOTE'}) }}

    {{ form_row(form.save, {'label': 'SAVE'}) }}
{{ form_end(form) }}
<hr />
<ul>
{% for income in incomes %}
    <li>({{income.incomeCategory.getCategoryName}}) {{income.incomeStamp|date("d.m.Y")}}: <a href='{{path('income_edit', {'id':income.id})}}'>{{income.incomeAmount}}&nbsp;zł</a>{{ income.incomeNotes != '' ? " (#{income.incomeNotes})" : '' }}</li>
{% endfor %}
</ul>

{% endblock %}
