{% extends 'base.html.twig' %}

{% block title %} - {% trans %}ECAT{% endtrans %}{% endblock %}

{% block body %}
<hr />
{% trans %}ECAT{% endtrans %}
<hr />
{% trans %}EDITECAT{% endtrans %}:<br /><br />
{{ form_start(form, {'method': 'POST'}) }}
    {{ form_errors(form) }}

    {{ form_row(form.categoryName, {'label': 'ECATNAME', 'label_attr': {'class': 'long'}}) }}
    {{ form_row(form.limitsAmount, {'label': 'ECATLIMIT', 'label_attr': {'class': 'long'}, 'attr': {'class': 'right'}}) }}
    {{ form_row(form.limitsActive, {'label': 'ECATLIMITUSED', 'label_attr': {'class': 'long'}}) }}

    {{ form_row(form.update, {'label': 'UPDATE'}) }}
{{ form_end(form) }}
{% endblock %}