{% extends 'base.html.twig' %}

{% block title %} - {% trans %}ECAT{% endtrans %}{% endblock %}

{% block body %}
<hr />
{% trans %}ECAT{% endtrans %}
<hr />
{% trans %}ADDECAT{% endtrans %}:<br /><br />
{{ form_start(form, {'method': 'POST'}) }}
    {{ form_errors(form) }}

    {{ form_row(form.categoryName, {'label': 'ECATNAME', 'label_attr': {'class': 'long'}}) }}
    {{ form_row(form.limitsAmount, {'label': 'ECATLIMIT', 'label_attr': {'class': 'long'}, 'attr': {'class': 'right'}}) }}
    {{ form_row(form.limitsActive, {'label': 'ECATLIMITUSED', 'label_attr': {'class': 'long'}}) }}

    {{ form_row(form.save, {'label': 'SAVE'}) }}
{{ form_end(form) }}
<hr />
<p class="title">{% trans %}ADDEDCATS{% endtrans %}:</p>
{% for category in categories %}
    <div class='buttons'>
        <button class='go b-{{ random(['red', 'blue', 'green', 'purple']) }} rounded' link='{{path('expense_category_edit', {'id':category.id})}}'>{{category.categoryName}}
        <br />
        {% if category.limitsAmount > 0 %}
            {{category.limitsAmount|localizedcurrency('CURRENCY'|trans)}}
        {% else %}
            {% if category.limitsActive == false %}
                [Limit niezdefiniowany]
            {% else %}
                [Limit wyłączony]
            {% endif %}
        {% endif %}
        </button>
        <br /><a href='{{path('expense_category_edit', {'id':category.id})}}'><img src='{{ asset('images/edit.png') }}' title="{% trans %}EDIT{% endtrans %}"/></a>
    </div>
{% endfor %}
{% endblock %}