body{
	background-color: #FAFAD2;
	font-family: 'Signika', Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	margin:20px auto;
	padding:0;
}


a:link {
	font-family : 'Signika', Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration:none;
	color:#00558f;
	font-weight:normal;
	}
a:visited{
	font-family : 'Signika', Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration:none;
	color:#00558f;
	font-weight:normal;
	}
a:active{
	font-family : 'Signika', Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration:underline;
	color:#00558f;
	font-weight:normal;

	}
a:hover{
	font-family : 'Signika', Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration:underline;
	color:#FF9900;
	font-weight:normal;

	}

input, select, button {
  font-family: 'Signika', Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 18px;
}
	
input[type=text], select {
  border: 2px solid red;
  border-radius: 4px;
}

input[type=text] {
  width: 350px;
}

.przycisk, .hide {
  border: 2px solid #000000!important;
}

ul{list-style:none;}

.main_content {
  margin: 20px;
}

label {
  width: 180px!important;
  display:inline-block;
  height: 35px;
}

label.longer {
  width: 250px!important;
  display:inline-block;
}

label.long {
  width: 400px!important;
  display:inline-block;
}

.kwota {
  width:100px!important;
}

.nazwa {
  width:250px!important;
}

.notes {
  width:300px!important;
}

.stampdate {
  width:95px!important;
}

.title {
  color: #0000CD;
  font-size: 20px;
  padding: 3px;
  text-decoration: underline;
  letter-spacing: 2px;
}

.rounded {
  border-radius: 24px;
  border: 2px solid #000000;
}

.buttons {
  float: left;
  height: 100px;
  margin-bottom: 20px;
  width: 420px;
  text-align: center;
}

.buttons2 {
  float: left;
  height: 55px;
  margin-bottom: 20px;
  width: 150px;
  text-align: center;
}

.b-red {
  background-color: #ff0000;
  padding: 10px 20px;
  color: #ffffff;
  cursor:pointer;
}

.b-blue {
  background-color: #1E90FF;
  padding: 10px 20px;
  color: #ffffff;
  cursor:pointer;
}

.b-green {
  background-color: #7FFF00;
  padding: 10px 20px;
  color: #000000;
  cursor:pointer;
}

.b-purple {
  background-color: #8B008B;
  padding: 10px 20px;
  color: #ffffff;
  cursor:pointer;
}

.b-yellow {
  background-color: #FFFF00;
  padding: 10px 20px;
  color: #ff0000;
  cursor:pointer;
}

.b-white {
  background-color: #FFFFFF;
  padding: 10px 20px;
  color: #000000;
  cursor:pointer;
}

.error {
  border: 4px solid #FF0000;
}

.deletebutton {
  background-color: #ff0000!important;
  color: #FFFFFF!important;
  border: 2px solid #FF0000!important;
  margin-left:30px;
}

.right {
  text-align: right;
}