{% extends 'base.html.twig' %}

{% block title %} - {% trans %}EXPENSES{% endtrans %}{% endblock %}

{% block body %}
<hr />
{% trans %}EDITEXPENSE{% endtrans %}<hr />
{{ form_start(form, {'method': 'POST'}) }}
    {{ form_errors(form) }}

    {{ form_row(form.expenseCategoryId, {'label': 'CATEGORY'}) }}
    {{ form_row(form.expenseAmount, {'label': 'AMOUNT'}) }}
    {{ form_row(form.expenseStamp, {'label': 'STAMP'}) }}
    {{ form_row(form.expenseNotes, {'label': 'NOTE'}) }}

    {{ form_row(form.update, {'label': 'UPDATE'}) }}
{{ form_end(form) }}
<hr />
{% endblock %}
