{% extends 'base.html.twig' %}

{% block title %} - {% trans %}EXPENSES{% endtrans %}{% endblock %}

{% block body %}
<hr />
{% trans %}NEWEXPENSE{% endtrans %}<hr />
{{ form_start(form, {'method': 'POST'}) }}
    {{ form_errors(form) }}

    {{ form_row(form.expenseCategoryId, {'label': 'CATEGORY'}) }}
    {{ form_row(form.expenseAmount, {'label': 'AMOUNT'}) }}
    {{ form_row(form.expenseStamp, {'label': 'STAMP'}) }}
    {{ form_row(form.expenseNotes, {'label': 'NOTE'}) }}

    {{ form_row(form.save, {'label': 'SAVE'}) }}
{{ form_end(form) }}
<hr />
<ul>
{% for expense in expenses %}
    <li>({{expense.expenseCategoryId.getCategoryName}}) {{expense.expenseStamp|date("d.m.Y")}}: <a href='{{path('expense_edit', {'id':expense.id})}}'>{{expense.expenseAmount}}&nbsp;zł</a>{{ expense.expenseNotes != '' ? " (#{expense.expenseNotes})" : '' }}</li>
{% endfor %}
</ul>
{% endblock %}
