<template>
   <div style="display:inline;"><a class="przycisk go" v-bind:href="bpath">{{valbut}}</a></div>
</template>
 
<script>
   export default {
       name: "boto",
       props: ['bpath', 'valbut']
   }
</script>
 
<style scoped>
 
</style>