<template>
   <div><p>{{title}}: <b>{{start}}</b> - <b>{{end}}</b></p></div>
</template>
 
<script>
   export default {
       name: "peter",
       props: ['title', 'start', 'end']
   }
</script>
 
<style scoped>
 
</style>