<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% trans %}APPNAME{% endtrans %}{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Signika:400,700&amp;subset=latin-ext" rel="stylesheet">
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('jquery-ui/jquery-ui.min.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="main_content">
            <peter title="{% trans %}CURR_PERIOD{% endtrans %}" start="{{ current_period[0] }}" end="{{ current_period[1] }}"></peter><hr />
            <boto bpath="{{path('homepage')}}" valbut="{% trans %}HOMEPAGE{% endtrans %}"></boto>
            <boto bpath="{{path('expense')}}" valbut="{% trans %}EXPENSES{% endtrans %}"></boto>
            <boto bpath="{{path('income')}}" valbut="{% trans %}INCOMES{% endtrans %}"></boto>
            <boto bpath="{{path('saving')}}" valbut="{% trans %}SAVINGS{% endtrans %}"></boto>
            <boto bpath="{{path('expense_category')}}" valbut="{% trans %}ECAT{% endtrans %}"></boto>
            <boto bpath="{{path('income_category')}}" valbut="{% trans %}ICAT{% endtrans %}"></boto>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="{{ asset('jquery-ui/jquery-ui.min.js') }}"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/i18n/jquery-ui-i18n.min.js"></script>
            <script src="{{ asset('javascripts/include.js') }}"></script>
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
